database/data/n8n-telegram-bot.json
{
  "name": "Hotel Bot",
  "nodes": [
    {
      "parameters": {
        "updates": ["message"],
        "additionalFields": {}
      },
      "id": "telegram-trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [240, 300],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.message.text}}",
              "operation": "startsWith",
              "value2": "/start"
            }
          ]
        }
      },
      "id": "if-start",
      "name": "คำสั่ง Start",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [460, 200]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.message.text}}",
              "operation": "contains",
              "value2": "จอง"
            }
          ]
        }
      },
      "id": "if-booking",
      "name": "คำสั่ง จอง",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.message.text}}",
              "operation": "contains",
              "value2": "ค่าไฟน้ำ"
            }
          ]
        }
      },
      "id": "if-utilities",
      "name": "คำสั่ง ค่าไฟน้ำ",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [460, 400]
    },
    {
      "parameters": {
        "chatId": "={{$json.message.chat.id}}",
        "text": "🏨 สวัสดีครับ ยินดีให้บริการ!\n\n📋 คำสั่งที่ใช้ได้:\n• จอง - จองห้องพัก\n• ค่าไฟน้ำ - คำนวณค่าสาธารณูปโภค\n• สถานะห้อง - ดูห้องว่าง\n• รายงาน - รายงานรายเดือน\n\nพิมพ์คำสั่งได้เลยครับ 😊"
      },
      "id": "reply-start",
      "name": "ตอบ Start",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [680, 200],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{$json.message.chat.id}}",
        "text": "📝 การจองห้องพัก\n\nกรุณาส่งข้อมูลในรูปแบบ:\nจอง ห้อง [เลขห้อง] วันที่ [วัน/เดือน/ปี]\n\nตัวอย่าง:\nจอง ห้อง 101 วันที่ 25/1/2026\n\nหรือพิมพ์ 'ยกเลิก' เพื่อยกเลิก"
      },
      "id": "reply-booking",
      "name": "ตอบ จอง",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [680, 300],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{$json.message.chat.id}}",
        "text": "💡 คำนวณค่าไฟน้ำ\n\nกรุณาส่งข้อมูลในรูปแบบ:\nค่าไฟน้ำ ห้อง [เลขห้อง]\nไฟเก่า: [เลข]\nไฟใหม่: [เลข]\nน้ำเก่า: [เลข]\nน้ำใหม่: [เลข]\n\nตัวอย่าง:\nค่าไฟน้ำ ห้อง 101\nไฟเก่า: 1000\nไฟใหม่: 1150\nน้ำเก่า: 50\nน้ำใหม่: 65"
      },
      "id": "reply-utilities",
      "name": "ตอบ ค่าไฟน้ำ",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [680, 400],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "คำสั่ง Start",
            "type": "main",
            "index": 0
          },
          {
            "node": "คำสั่ง จอง",
            "type": "main",
            "index": 0
          },
          {
            "node": "คำสั่ง ค่าไฟน้ำ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "คำสั่ง Start": {
      "main": [
        [
          {
            "node": "ตอบ Start",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "คำสั่ง จอง": {
      "main": [
        [
          {
            "node": "ตอบ จอง",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "คำสั่ง ค่าไฟน้ำ": {
      "main": [
        [
          {
            "node": "ตอบ ค่าไฟน้ำ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
